{%extends "layout.html" %}

{% block body %}

<h1>All Devices</h1>
<table class="uk-table uk-table-hover uk-table-striped">
    <caption>{{devices|length}} devices</caption>
    <thead>
        <tr>
            <th>Address</th>
            <th>Unique ID</th>
            <th>Architecture</th>
            <th>DSM</th>
            <th>TZ</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        {% for device in devices %}
        <tr>
            <td>{{device.address}}</td>
            <td>{{device.uniqid}}</td>
            <td>{{device.arch}}</td>
            <td>{{device.major}}.{{device.minor}} ({{device.build}})</td>
            <td>{{device.tz}}</td>
            <td>{{device.lang}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
