<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/static/css/uikit.gradient.min.css" />
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/uikit.min.js"></script>
    </head>
    <body>
        <nav class="uk-navbar">
            <ul class="uk-navbar-nav">
                <a href="" class="uk-navbar-brand">SPS</a>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('pkg_list')}}" class="uk-navbar-nav-subtitle">Packages<div>List</div></a></li>
                <li><a href="{{url_for('pkg_upload')}}" class="uk-navbar-nav-subtitle">Packages<div>New</div></a></li>
                <li><a href="{{url_for('device_list')}}">Devices</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>
        </nav>
        <div class="uk-container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
