{%extends "layout.html" %}

{% block body %}

<div class="uk-width-1-3 uk-text-center uk-container-center">
    <div class="uk-panel">
        Use your OpenShift database username and password to login
    </div>
    <form class="uk-form" action="" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Login</legend>
            <div class="uk-form-row">
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="uk-form-row">
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="uk-form-row">
                <input type="submit" value="login">
            </div>
        </fieldset>
    </form>

</div>

{% endblock %}
