{%extends "layout.html" %}

{% block body %}

<h1><img src="{{url_for('pkg_icon', filename=pkg.filename)}}"/> {{pkg.filename}}</h1>
<form class="uk-form uk-form-horizontal" action="" method="POST">
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-package">Package</label>
        <div class="uk-form-controls">
            <input type="text" id="form-package" placeholder="Package" disabled
            class="uk-form-width-medium uk-form-blank" value="{{pkg.package}}">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-version">Version</label>
        <div class="uk-form-controls">
            <input type="text" id="form-version" placeholder="Version" disabled
            class="uk-form-width-medium uk-form-blank" value="{{pkg.version}}">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-displayname">Display Name</label>
        <div class="uk-form-controls">
            <input type="text" id="form-displayname" placeholder="Display Name" disabled
            class="uk-form-width-medium uk-form-blank" value="{{pkg.displayname}}">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-description">Description</label>
        <div class="uk-form-controls">
            <textarea id="form-description" rows="6" placeholder="Description" disabled
            class="uk-form-width-large uk-form-blank">{{pkg.description}}</textarea>
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-maintainer">Maintainer</label>
        <div class="uk-form-controls">
            <input type="text" id="form-maintainer" placeholder="Maintainer" disabled
            class="uk-form-width-medium uk-form-blank" value="{{pkg.maintainer}}">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-arch">Architecture</label>
        <div class="uk-form-controls">
            <input type="text" id="form-arch" placeholder="Architecture" disabled
            class="uk-form-width-medium uk-form-blank" value="{{pkg.arch}}">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-md5">MD5</label>
        <div class="uk-form-controls">
            <input type="text" id="form-md5" placeholder="md5" disabled 
            class="uk-form-width-large uk-form-blank" value="{{pkg.md5}}">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-size">Size</label>
        <div class="uk-form-controls">
            <input type="text" id="form-size" placeholder="size" disabled 
            class="uk-form-width-medium uk-form-blank" value="{{pkg.size}}">
        </div>
    </div>
    <div class="uk-form-row">
        <label class="uk-form-label" for="form-description">Changelog</label>
        <div class="uk-form-controls">
            <textarea id="form-changelog" name="form-changelog" rows="6" placeholder="Changelog" 
            class="uk-form-width-large uk-form-blank">{{pkg.changelog}}</textarea>
        </div>
    </div>
    <div class="uk-form-row">
        <div class="uk-form-controls">
            <input type="submit" value="Save">
        </div>
    </div>
</form>

{% endblock %}
