{%extends "layout.html" %}

{% block body %}
<h1>All Packages</h1>
<table class="uk-table uk-table-hover uk-table-striped">
    <caption>{{pkgs|length}} packages</caption>
    <thead>
        <tr>
            <th>Package</th>
            <th>Version</th>
            <th>Maintainer</th>
            <th>Architecture</th>
            <th>Size</th>
            <th>Downloads</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        {% for pkg in pkgs %}
        <tr>
            <td><a href="{{url_for('pkg_edit', filename=pkg.filename)}}">{{pkg.displayname}} ({{pkg.package}})</a></td>
            <td>{{pkg.version}}</td>
            <td>{{pkg.maintainer}}</td>
            <td>{{pkg.arch}}</td>
            <td>{{pkg.size}}</td>
            <td>{{pkg.downloads}}</td>
            <td><a href="{{url_for('pkg_delete', filename=pkg.filename)}}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
