{%extends "layout.html" %}

{% block body %}

<h1>Upload new File</h1>
<form class="uk-form" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
        <div class="uk-form-row">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </div>
    <fieldset>
</form>

{% endblock %}
